<!-- <div class="land">
  <div class="l1">

    <p>Portfolio</p>
    <h1>Hasan Suliman</h1>
    <button mat-raised-button [routerLink]="['/About']" color="primary"> <span>Take a tour</span><i></i> </button>

  </div>
  <div class="l2">
    <h2> K.I.S</h2>
  </div>
   <div class="bub">
    <img src="../../assets/img/bubble.png">
    <img src="../../assets/img/bubble.png">
    <img src="../../assets/img/bubble.png">
    <img src="../../assets/img/bubble.png">
    <img src="../../assets/img/bubble.png">
    <img src="../../assets/img/bubble.png">
  </div>
</div> -->
<div class="all">
<div class="land">
  <div class="ld">
    <div class="landing1">
       <div class="ld-1">
      <p>Portfolio</p>
      <h1>Hasan Suliman</h1>
      <button mat-raised-button [routerLink]="['/About']" color="primary">
        <span>Take a tour</span><i></i>
      </button>
    </div>

    </div>


    <div class="exp-1 e2">
      <h1 data-text="Keep">Keep</h1>
      <h1 data-text="It">It</h1>
      <h1 data-text="Simple">Simple</h1>
    </div>
  </div>
</div>

</div>
