<div class="about">
  <div class="a-0">
    <div class="a-1">
      <h2>Summary</h2>
      <h4>
        I'm a software engineer specialised in frontend and backend development
        for complex scalable web apps.<br />
        Want to know how I may help your project?<br />
        Check out my project portfolio.
      </h4>
      <button mat-raised-button [routerLink]="['/Portolio']" color="primary">
        <span>portfolio</span><i></i>
      </button>
      <button mat-raised-button [routerLink]="['/Contact']" color="primary">
        <span>Contact</span><i></i>
      </button>

    </div>

    <div class="imgdiv">
       <div id="cube" class="a-2">
        <div class="a2-1" id="cube">
          <img src="../../assets/img/has3.jpeg" alt="Hasan" />
        </div>

      </div>
       <!-- <div id="cube" class="a-2 ">
        <div class="a2-1">
          <h3> special thanx to <br> Aula MHD</h3>
        </div>
      </div> -->
      <!-- <div id="main" class="crd">
        <div class="imgbx">
          <img src="../../assets/img/has1.jpg" alt="Hasan" />
        </div>
        <div class="content">
          <div class="dtls">
            <h2>Hasan Suliman</h2>
            <div class="dta">
              <h4>2 Years Experiance Frontend </h4>
            </div>
            <div class="actbtn">
              <button mat-raised-button color="primary"> <span>Hire Me</span><i></i></button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <br />
  <mat-divider></mat-divider>
  <div class="dodiv">
    <h2 class="section-title">What I do</h2>

    <div class="aboutbod2">
      <p class="p">
        I have more than 2 years' experience building software for clients .
        Below is a quick overview of my main technical skill sets and
        technologies I use. Want to find out more about my experience? Check out
        my project portfolio.
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="skill">
    <div class="crrd crrd1">
      <div class="circle">
      <div class="imgicn2">
        <mat-icon svgIcon="html"></mat-icon>
        <mat-icon svgIcon="css"></mat-icon>
      </div>
      <div class="imgicn2">
        <h4> HTML & CSS</h4>
      </div>
    </div>
      <div class="imgicn2">
        <p>Good experiance dealing with html and css code for alot of
          projects using alot of technices that help to build a responsive
          web application</p>
      </div>
    </div>
    <div class="crrd crrd1">
      <div class="circle">
      <div class="imgicn2">
        <mat-icon svgIcon="ang"></mat-icon>
        <mat-icon svgIcon="vue"></mat-icon>
      </div>
      <div class="imgicn2">
        <h4> Angular & Vue </h4>
      </div>
    </div>
      <div class="imgicn2">
        <p> More than 2 years experiance using fron end frameworks with
          seviral tools to enhace your web application to its max level</p>
      </div>
    </div>
    <div class="crrd crrd1">
      <div class="circle">
      <div class="imgicn2">
        <mat-icon svgIcon="c"></mat-icon>

      </div>
      <div class="imgicn2">
        <h4> C#</h4>
      </div>
    </div>
      <div class="imgicn2">
        <p> Helped to develope and monitor and maintain application using
          asp.net framework using C# . you can check my projects section</p>
      </div>
    </div>
    <div class="crrd crrd1">
      <div class="circle">
      <div class="imgicn2">
        <mat-icon svgIcon="mat" style="margin-right: 10px"></mat-icon>
        <mat-icon svgIcon="boot"></mat-icon>
      </div>
      <div class="imgicn2">
        <h4>Material & Bootstrap</h4>
      </div>
    </div>
      <div class="imgicn2">
        <p>
          Portfolio made by material and Bootstrap design using custome
          typography and tow diffrent themes and animation of CSS3
        </p>
      </div>
    </div>
    <div class="crrd crrd1">
      <div class="circle">
      <div class="imgicn2">
        <mat-icon svgIcon="ora2"></mat-icon>
        <mat-icon svgIcon="sql"></mat-icon>
      </div>
      <div class="imgicn2">
        <h4> Oracle & SQL</h4>
      </div>
    </div>
      <div class="imgicn2">
        <p>Working with oracle database and sql server jobs & procedure and
          making new tools to handle data for Syriatel Company</p>
      </div>
    </div>

  </div>

  <!-- <div class="skill">
    <div class="crd crd1">
      <div class="imgicn imgicn1">
        <mat-icon svgIcon="c"></mat-icon>
      </div>
      <div class="content">
        <div class="dtls dtls1">
          <h4> C#</h4>
          <div class="dta">
            <p> Helped to develope and monitor and maintain application using
              asp.net framework using C# . you can check my projects section</p>
          </div>
          <div class="actbtn">
            <button mat-raised-button color="primary"> <span>Veiw Study</span><i></i></button>
          </div>
        </div>
      </div>
    </div>


  </div> -->
  <!-- <div class="skill">

  </div> -->
  <br />
</div>
