<div class="port">
  <div class="p1">
    <div class="exp-1">
      <!-- <div id="cube" class="a-2 ">
        <div class="a2-1" id="cube">
          <h3> Portfolio</h3>
        </div>
      </div> -->
      <h1 data-text="Portfolio"> Portfolio</h1>

    </div>
    <div class="portsubheader">
      <h4>
        Here You can find all my works and Project
        I'm taking on freelance work at the moment, Want some help building your software?
      </h4>

    </div>
    <div class="portsubheader">
      <button mat-raised-button [routerLink]="['/Contact']" color="primary"> <span>Contact</span><i></i> </button>
    </div>
    <br>
  </div>

  <mat-divider></mat-divider>
  <div class="projects">

    <h2 class="section-title">Projects</h2>
    <div class="prosj">

      <h3>
        <mat-icon>app_registration</mat-icon>
        Sales Reporting System
      </h3>
      <div class="detls">
        <p> SRS for Syriatel company handling Sales Reports for all cities
          with Dashboard to visulaize the data and monitor it via easy and flexable charts to make beter undersatnding
          for
          data <br>Client: Syriatel
          Company
        </p>
      </div>
      <div class="pro1">

        <div class="prof">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Frontend</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis veniam similique ipsa hic vel,
            accusamus
            vitae neque asperiores, repudiandae sunt voluptatibus, fugit illum consequatur quibusdam culpa pariatur
            iusto
            quidem ex.</p>

        </div>
        <div class="prob">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Backend</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum perferendis fugit iure corporis quo veniam
            soluta asperiores? Mollitia odit, similique quis at laborum placeat, alias, pariatur asperiores fuga
            perferendis sunt?</p>
        </div>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="prosj">

      <h3>
        <mat-icon>app_registration</mat-icon>
        Sales Reporting System
      </h3>
      <div class="detls">
        <p> SRS for Syriatel company handling Sales Reports for all cities
          with Dashboard to visulaize the data and monitor it via easy and flexable charts to make beter undersatnding
          for
          data <br>Client: Syriatel
          Company
        </p>
      </div>
      <div class="pro1">
        <div class="prof">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Frontend</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis veniam similique ipsa hic vel,
            accusamus
            vitae neque asperiores, repudiandae sunt voluptatibus, fugit illum consequatur quibusdam culpa pariatur
            iusto
            quidem ex.</p>
        </div>
        <div class="prob">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Backend</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum perferendis fugit iure corporis quo veniam
            soluta asperiores? Mollitia odit, similique quis at laborum placeat, alias, pariatur asperiores fuga
            perferendis sunt?</p>
        </div>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="prosj">

      <h3>
        <mat-icon>app_registration</mat-icon>
        Sales Reporting System
      </h3>
      <div class="detls">
        <p> SRS for Syriatel company handling Sales Reports for all cities
          with Dashboard to visulaize the data and monitor it via easy and flexable charts to make beter undersatnding
          for
          data <br>Client: Syriatel
          Company
        </p>
      </div>
      <div class="pro1">
        <div class="prof">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Frontend</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis veniam similique ipsa hic vel,
            accusamus
            vitae neque asperiores, repudiandae sunt voluptatibus, fugit illum consequatur quibusdam culpa pariatur
            iusto
            quidem ex.</p>
        </div>
        <div class="prob">
          <div class="overlay">
            <div class="text">
              <button mat-raised-button color="primary"> <span>check it</span><i></i>
              </button>
            </div>
          </div>
          <h4> Backend</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum perferendis fugit iure corporis quo veniam
            soluta asperiores? Mollitia odit, similique quis at laborum placeat, alias, pariatur asperiores fuga
            perferendis sunt?</p>
        </div>
      </div>

    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="po-tes">
    <h2 class="section-title">Testimonials</h2>
    <div class="po1">

      <div class="bodypo">
        <div class="cardpo">
          <div class="cerclepo">
            <h4> Aula Mhd</h4>
            <p>senior Developer</p>
          </div>
          <div class="crdcont">

            <p> Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Ipsam, tempore voluptatem! Odit delectus soluta
              iure magni fugiat ipsum.
              Dolores odit mollitia quaerat error vitae reiciendis provident quod neque nisi nam!
            </p>
          </div>
        </div>
        <div class="cardpo">
          <div class="cerclepo">
            <h4> Aula Mhd</h4>
            <p>senior Developer</p>
          </div>
          <div class="crdcont">

            <p> Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Ipsam, tempore voluptatem! Odit delectus soluta
              iure magni fugiat ipsum.
              Dolores odit mollitia quaerat error vitae reiciendis provident quod neque nisi nam!
            </p>
          </div>
        </div>
        <div class="cardpo">
          <div class="cerclepo">
            <h4> Aula Mhd</h4>
            <p>senior Developer</p>
          </div>
          <div class="crdcont">

            <p> Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Ipsam, tempore voluptatem! Odit delectus soluta
              iure magni fugiat ipsum.
              Dolores odit mollitia quaerat error vitae reiciendis provident quod neque nisi nam!
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
