<div class="proj">
  <div class="p1">
    <div class="exp-1">
      <!-- <div id="cube" class="a-2 ">
        <div class="a2-1" id="cube">
          <h3> Portfolio</h3>
        </div>
      </div> -->
      <h1 data-text="Resume">Resume</h1>
    </div>

    <!-- <div class="portsubheader"> -->
    <div class="ecrd1">
      <div class="e1">
        <h1>Hasan Sulaiman</h1>
        <p>Software Engineer - Frontend Developer - Data Analyest</p>
      </div>
      <div class="e2">
        <div class="cont">
          <mat-icon >call</mat-icon><a href="tel:#">
            <p>+963 993 995199</p>
          </a>
        </div>
        <div class="cont">
          <mat-icon >mail</mat-icon><a href="mailto:#">
            <p>hasansuliman50@gmail.com</p>
          </a>
        </div>
        <div class="cont">
          <mat-icon >website</mat-icon><a href="mailto:#">
            <p>www.portfolio.com</p>
          </a>
        </div>
        <div class="cont">
          <mat-icon >assistant_navigation</mat-icon><a href="mailto:#">
            <p>Damascus</p>
          </a>
        </div>
      </div>
    </div>

    <br />
  </div>
  <mat-divider></mat-divider>
  <div class="cv">
    <div class="cv1">
      <div class="c-title">
        <h2 class="section-title">Work Experiance</h2>
      </div>

      <div class="c-title">
        <h3>Data science</h3>
        <p>
          My work for Syriatel company as head of Sales Section team based on
          the use of scientific methods, processors, algorithms, and systems to
          extract knowledge and ideas from data in its two forms,
        </p>
      </div>
      <mat-divider></mat-divider>

      <div class="c-title">
        <h3>Lead Software Developer</h3>
        <p>
          Lead a team to build two applications for the sales department And
          deliver them on time The following applications have been built
        </p>
        <ul>
          <li>SRS</li>
          <li>SPA</li>
        </ul>
        <p>The following application is being worked on</p>
        <ul>
          <li>Offers System</li>
        </ul>
      </div>
      <mat-divider></mat-divider>
      <div class="c-title">
        <h3>Frontend Develoer</h3>
        <p>
          build an desighn interfaces for sales section in Syreatel using
          angular Framework with material and bootstrap design
        </p>
      </div>
      <mat-divider></mat-divider>
      <div class="c-title">
        <h3>Backend Develoer</h3>
        <p>
          helped to build API's using C# and asp.net Framework Core 5 for sales
          section
        </p>
      </div>
      <mat-divider></mat-divider>
      <div class="c-title">
        <h3>Personal</h3>
        <p>
          working on Design and bulid Epms inteface that handle the performance
          of any company's employee with Angular Framwork you can see details in
        </p>
      </div>
    </div>
    <div class="cv2">
      <div class="c-title">
        <h2 class="section-title">Educatin</h2>
      </div>
      <div class="c-title">
        <div>
          <p>Computer And Autmation Engineering Damascus University 2020</p>
          <p>Graduation Project : web Application to simulate VisaCard</p>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="c-title">
        <h2 class="section-title">Skills</h2>
        <h3>Technical</h3>
        <div>
          <p>Angular</p>
          <p>Vue</p>
          <p>HTML &CSS</p>
          <p>Asp.net</p>
          <p>C#</p>
          <p>SQL/MySQL/Oracle</p>
          <p>Problem Soloving</p>
          <p>Design and implement database structures</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="c-title">
        <h2 class="section-title">Interest</h2>
      </div>
      <div class="c-title">
        <div>
          <p>Traveling</p>
          <p>Sports</p>
          <p>Super Cars</p>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="links">
    <mat-list>
      <mat-list-item>
        <mat-icon svgIcon="git"></mat-icon><a href="https://github.com/HASANsuliman?tab=repositories">
          <p>github.com/Hasansuliman</p>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon svgIcon="lin"></mat-icon><a href="https://www.linkedin.com/in/hassn-suliman-26320b242?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BkjDEHGzfS6aAuJ6uPAWN2g%3D%3D">
          <p>linkedin.com/Hasansuliman</p>
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>
