// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portfolio-primary: mat.define-palette(mat.$teal-palette);
$Portfolio-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);
$dark-primary: mat.define-palette(mat.$teal-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
// The warn palette is optional (defaults to red).
$Portfolio-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Portfolio-theme: mat.define-light-theme(
  (
    color: (
      primary: $Portfolio-primary,
      accent: $Portfolio-accent,
      warn: $Portfolio-warn,
    ),
  )
);
$Portfolio-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $Portfolio-warn,
    ),
  )
);
.darktheme {
  @include mat.all-component-themes($Portfolio-dark-theme);
  .mat-drawer-inner-container {
    overflow: initial !important;
  }
  .mat-drawer-container {
    background: #0c171e;
  }
  .mat-drawer {
    background: #0c171e ;
  }
  .mat-drawer-content {
    background: #0c171e ;
  }
  .mat-icon {
    background-color: none !important;
    color: teal;
  }

  .mat-card {
    background-color: teal;
  }
  .mat-grid-list .mat-grid-tile.mat-card.mat-icon {
    background-color: none;
  }
  .content {
    background: #0c171e;
  }
  .imgicn {
    z-index: 1;
  }
  .crd {
    box-shadow: 1px 2px 15px teal;
  }
  .imgbx {
    z-index: 1;
  }
  .crd:hover .overlay {
    z-index: 6;
  }
  button:hover {
    box-shadow: 0 0 10px teal, 0 0 10px teal, 0 0 10px teal !important;
  }
  @include mat.core-color($Portfolio-dark-theme);
  .dtls {
    background: #0c171e;;
  }
  .eskills {
    fill: white;
  }
  .mat-select-arrow {
    color: teal !important;
  }
  input {
    background: #0c171e;
    color: white;
  }
  textarea {
    background: #0c171e;
    color: white;
  }
  .crrd{
    background: #0c171e;
    color: white;
  }
  a {
    color: white !important;
  }
  a p {
    color: white !important;
  }
  a:hover {
    color: rgba(0, 244, 252, 0) !important;
  }
  .a2-1{
    background-color: #0c171e;
  }
  .a2-1::after {

    background: #0c171e ;
  }
  .exp-2 a{
    color: teal !important;
  }
}
// .ngx-charts {
//   margin-top: -75px;
// }
mat-list-item a{
  font-size: 1rem;
}
mat-select-arrow {
  color: teal !important;
}
text {
  font-size: 1rem !important;
}
//button

// cardwithborder
.a-2 {
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.a2-1 {
  background-color: #fafafa;
  position: relative;
  width: 135px;
  height: 115px;
  border-radius: 10px;
  box-shadow: 0 3px 9px teal;
  transition: width 1s, height 1s, transform 2s;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.a2-1::before {
  content: "";
  position: absolute;
  top: -45%;
  width: 60px;
  height: 190%;
  background: linear-gradient(teal, #3f6ba5);
  animation: an 4s linear infinite;
  left: 40%;
}

.a2-1::after {
  content: "";
  position: absolute;
  inset: 2.5px;
  background: #c9e2e2;
  border-radius: 10px;
}

.a2-1 h4 {
  width: 100%;
  text-align: center;
  z-index: 10;
  margin: 25px 0 26px;
}

@keyframes an {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

mat-divider {
  width: 100%;
}
h2{
  color: teal;
}
.ecrd1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 5px teal;
  transition: width 1s, height 1s, transform 2s;
  margin: 10px;
}
//header title
.exp-1 {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}
.p1 {
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    max-width: 1900px;
    margin: auto;
    padding: 2rem;
}
.portsubheader {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.exp-1 h1 {
  position: relative;
  color: #252839;
  -webkit-text-stroke: 0.1vw #383d52;
  letter-spacing: 2px;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: Teal;
  width: 0%;
  height: 100%;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.e-0 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.exp-2 {
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

//title
.c-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.section-title:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background: teal;
  position: absolute;
  left: -7px;
  top: -7px;
}

.section-title {
  position: relative;
  margin: 8px 0 12px !important;
}

//gauge
.reading-block {
  transform: translateY(40px) !important;
  font-size: 1.1rem !important;
}

.reading-label {
  transform: translate(-7px, 80px) !important;
  font-size: 1rem !important;
}

canvas {
  width: 90% !important;
  height: 90% !important;
}

.skill {
  display: flex;
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

//card animation
.crd {
  background-color: #fafafa;
  position: relative;
  width: 270px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 10px 20px teal;
  transition: width 1s, height 1s, transform 2s;
  margin: 10px;
}

.crd:hover {
  width: 300px;
  height: 230px;
  // z-index: 1;
}

.crd1:hover {
  width: 300px;
  height: 400px;
  //transform: rotate(360deg);
}

.imgbx {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  width: 130px;
  height: 100px;
  border-radius: 20px;
  box-shadow: o 15px 50 teal;
  overflow: hidden;
  transition: 1s;
}

.crd:hover .imgbx {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
}

.imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 // object-fit: cover;
}

.crd .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.crd .content .dtls {
  text-align: center;
  width: 100%;
  transition: 1s;
  padding: 0px;
  //transform: translateY(85px);
}

// .crd:hover .content .dtls {
//  transform: translateY(0px);
// }

.crd .content .dtls h4 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.crd .content .dtls h2 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.crd .content .dtls .dta {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.crd .content .dtls .dta p {
  margin: 10px 0px 3px;
  padding: 0 5px;
}
.crd .content .dtls .dta h4 {
  margin: 10px 0px 3px;
  padding: 0 5px;
}
.crd .content .dtls .actbtn {
  display: flex;
  justify-content: center;
  // gap: 20px;
}

.crd .content .dtls .actbtn button {
  border-radius: 5px;
  border: none;
  outline: none;
}

.crd .content .dtls .actbtn button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background: rgb(0, 167, 167);
}

.crd .content .dtls1 {
  text-align: center;
  width: 100%;
  transition: 1s;
  padding: 0px;
  transform: translateY(95px);
}
.crd .content .dtls2 {
  transform: translateY(95px);
}
.crd .content .dtls3 {

  transform: translateY(95px);
}
.crd .content .dtls4 {

  transform: translateY(20px) !important;
}
.imgicn {
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translate(-50%);
  width: 30%;
  height: 100px;
  box-shadow: o 15px 50 teal;
  overflow: hidden;
  transition: 1s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.crrd{
  background: #fafafa;
  position: relative;
  width: 30%;
  //height: 150px;

  box-shadow: 0 10px 20px teal;
  transition: width 2s, height 2s, transform 2s;
  margin: 10px;
  animation: 1.5s linear infinite;
  z-index: 0;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.circle{
      background: teal;

     // clip-path: polygon(50% 0%, 135% 0%, 50% 100%, -40% 0%);
}
.skill .crrd:hover{
  filter: blur(0px) !important;
  transform: scale(1.3)!important;
  z-index: 1!important;
  opacity: 1!important;
  max-width: 35%;
}


// .skill .crrd:hover:nth-child(2){
//   transform: translate(-30%)!important;
// }
// .skill .crrd:hover:nth-child(3){
//   width: 32%;
// }
.skill:hover .crrd{
  filter:blur(2px);
  transform: scale(0.9);
opacity: 0.5;
}
.imgicn2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.imgicn2 h4{
  margin: 0 0 10px;
}
.imgicn2 p{
  padding: 0 8px;
}
.imgicn1 {

  width: 15%;

}
.crd:hover .imgicn {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: -30px;
}

.imgicn mat-icon {
  height: 70%;
  width: 100%;
}

@include mat.all-component-themes($Portfolio-theme);
.mat-drawer-inner-container {
  overflow: initial !important;
}

.mat-drawer {
  background: linear-gradient( #298c88, #0a3e61);}

.mat-icon {
  color: #b8ded9;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #354b68;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #34c7c77c;
  border-radius: 15px;
}

$Portfolio-typography: mat.define-typography-level(
  $font-family: Helvetica ,
  $font-size: 1.1rem,
  $font-weight: 500,
  $line-height: 1,
  $letter-spacing: 1.1px,
);
$Portfolio-typography: mat.define-typography-config(
  $font-family: "Helvetica ",
  $headline: mat.define-typography-level(2.5rem, 1, 700),
  $title: mat.define-typography-level(1.7rem, 1, 600),
  $subheading-2: mat.define-typography-level(1.4rem, 1.4, 600),
  $subheading-1: mat.define-typography-level(1.2rem, 1.4, 500),
  $body-1: mat.define-typography-level(1rem, 1.15, 500),
  $body-2: mat.define-typography-level(1.2rem, 1, 600),
  $button: mat.define-typography-level(1rem, 1, 500),
);
@include mat.core($Portfolio-typography);
